html {
    background-color: #f1f5f9;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* -------------- SATOSHI (Sans-serif) ----------------- */

@font-face {
    font-family: 'Satoshi';
    src: url('src/fonts/Satoshi-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('src/fonts/Satoshi-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('src/fonts/Satoshi-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('src/fonts/Satoshi-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('src/fonts/Satoshi-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

/* -------------- JUNICODE (Serif, Variable Font) ----------------- */

@font-face {
    font-family: 'Junicode';
    src: url('src/fonts/JunicodeVF-Roman.woff2') format('woff2');
    font-weight: 400 700;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode';
    src: url('src/fonts/JunicodeVF-Italic.woff2') format('woff2');
    font-weight: 400 700;
    font-style: italic;
}

html,
body {
    font-family: 'Satoshi', sans-serif;
    color: #000;
    background-color: #fff;
}


/* -------------- PLAYLISTS ----------------- */

.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.playlist-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 1rem;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

/* Subtle hover effect */
.playlist-image:hover {
    transform: scale(1.03);
    opacity: 0.9;
}

.playlist h4 {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

.playlist span {
    font-weight: normal;
    color: gray;
}

.playlist p {
    font-size: 0.95rem;
    max-width: 280px;
}