---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>FTJORVEN</title>
    </head>
    <body>
        <Navigation />

        <main>
            <section class="intro">
                <h1>Logo</h1>
                <h2>ftjorven</h2>
                <h2>about me</h2>
                <p>
                    My name is Tjorven Florin. I’m currently studying web design
                    at Devine. I have a passion for visual and auditory arts but
                    I also love the coding and UX parts of the process. On this
                    page I’d just like to show who I am a little better.
                </p>
            </section>

            <section class="education">
                <h3>education history</h3>
                <h4>Devine</h4>
                <p>
                    I’m currently in my second year of a Digital Design and
                    Development course at Howest Kortrijk.
                </p>
            </section>

            <section class="more">
                <h3>more to come...?</h3>
                <p>
                    Besides my work in Web Design, I&#39;m very passionate about
                    music and liveshows. I&#39;m currently working on getting
                    more into my local music scene. I work at a concert venue in
                    my local city of Kortrijk. I also often write about music
                    (which you can find in the writing section of my page).
                    Whenever I&#39;m working on the things you see in this
                    portfolio, I&#39;m listening to one of these playlists!
                </p>
            </section>

            <section class="playlists">
                <h3>working playlists</h3>

                <article class="playlist">
                    <h4>KR23 <span>#1</span></h4>
                    <p>
                        This is my playlist of ambient or piano music, whenever
                        I really have to focus, this one gets put on.
                    </p>
                </article>

                <article class="playlist">
                    <h4>JRJRJR <span>#2</span></h4>
                    <p>
                        This is a collection of all the music of John Roseboro,
                        really relaxing and one of my favourite artists!
                    </p>
                </article>

                <article class="playlist">
                    <h4>2025 <span>#3</span></h4>
                    <p>
                        These are all the songs I&#39;ve listened to over the
                        past year and liked enough to want to listen to again!
                    </p>
                </article>
            </section>

            <section class="outro">
                <p>
                    I hope you know me a little better now. You can always
                    contact me at
                    <a href="mailto:florintjorven@gmail.com"
                        >florintjorven@gmail.com</a
                    >.
                </p>
            </section>
        </main>

        <Footer />
    </body>
</html>
