---
const year = new Date().getFullYear();
---

<footer>
    <h2>ftjorven</h2>
    <p>Find me elsewhere!</p>
    <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">GitHub</a></li>
        <li><a href="#">YouTube</a></li>
    </ul>

    <p>Contact me</p>
    <a href="mailto:florintjorven@gmail.com">florintjorven@gmail.com</a>
    <p>© ftjorven {year}</p>
</footer>
