---
import type { CollectionEntry } from "astro:content";

const { skills } = Astro.props as {
    skills: CollectionEntry<"skills">[];
};
---

{
    skills.map((skill) => (
        <li>
            <h4>{skill.data.title}</h4>
            <p>{skill.data.experience}</p>
        </li>
    ))
}
